* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container_grid {
  display: grid;
  justify-items: center;
  min-height: 100vh;
  height: auto;
}

.container {
  display: grid;
  grid-template-rows: minmax(120px, auto) 1fr minmax(60px, auto);
  width: 100%;
  max-width: 1200px;
}

.header {
  background-color: darkseagreen;
  padding-bottom: 15px;
}

.navigation_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-auto-rows: 1fr;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
}

.navigation_item {
  display: grid;
  justify-content: center;
}

.button {
  margin: 5px 20px;
  border: none;
  border-radius: 22px;
  padding: 10px 15px;
  background-color: aliceblue;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
  color: rgb(53, 51, 51);
}

.button:hover {
  background-color: rgb(148, 152, 156);
}

.main {
  display: grid;
  align-items: center;
  background-color: steelblue;
}

.main_section {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 10px 20px;
}

.main_item {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 182);
  font-size: 50px;
  padding: 5px 0;
  color: aliceblue;
}

.main_item:nth-child(3) {
  grid-row: 1 / span 2;
  grid-column: 3 / span 2;
}

.main_item:nth-child(6) {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
}

.main_item:nth-child(9) {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
}

.footer {
  background-color: skyblue;
}

.header_title,
.main_title,
.footer_title {
  color: aliceblue;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}